@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0; padding: 0;
}

html {
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../media/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  font-family: montserrat, arial, verdana;
}

a.arrow-button {
  margin: 16px;
  width: 85px;
  text-align: center;
  background-color: #eee;
  padding: 0.5em 0;
  display: block;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  font-family: arial;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

a.arrow-button:hover {
  color: #eee;
  background-color: #333;
  text-decoration: none;
}

.arrow-home:before {
  content: '\25c4';
  padding-right: 0.5em;
}

#msform {
  width: 400px;
  margin: 50px auto;
  padding-top: 15px;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#msform .action-button {
  width: 100px;
  background: #ED553B;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

label.error {
  font-size: 12px;
  display: block;
  margin-top: 3px;
  margin-bottom: 8px;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; 
}

#progressbar li:first-child:after {
  content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
  background: #ED553B;
  color: white;
}

.text--center {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  color: #666;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text--center a {
  color: #111;
  outline: 0;
  text-decoration: none;
}

.text--center a:focus, 
.text--center a:hover {
  text-decoration: underline;
}